# Appium
APPIUM_HOST=http://127.0.0.1
APPIUM_PORT=4723

# Test Environment: android_emulator | android_real_device | ci_headless
TEST_ENV=android_emulator

# App
APP_PACKAGE=com.islam.khutba.qa
APP_ACTIVITY=com.dev.smartkhotba.prsentation.splash.SplashActivity

# Device identity — overrides capabilities.json defaults
DEVICE_UDID=
PLATFORM_VERSION=

# Timeouts
IMPLICIT_WAIT=10
EXPLICIT_WAIT=20

# Logging: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

# Azure DevOps (optional — for TC linking)
AZURE_ORG_URL=https://ihorizons.visualstudio.com
AZURE_PROJECT=Asiacell eCommerce Platform
AZURE_PAT=
